# Root level files
.gitignore
README.md

# Ignore app src
app/src
app/tsconfig.json
app/tslint.json
app/.prettierrc
app/.gitignore

# Ignore server src
server/server.ts
server/tsconfig.json
server/tslint.json
server/webpack.config.js
server/.prettierrc
server/.babelrc
server/.gitignore

# Ignore client src
client/src
client/tsconfig.json
client/tslint.json
client/README.md
client/.prettierrc
client/global.d.ts
client/.gitignore